body{
    font-family: montserrat; 
}
/*home*/
#main-home{
    height: 80vh;
}
#home1{
    color:black;
    border: black 1px solid;
    border-radius: 20px;
    padding: 5px;
    font-size: 12px;
}
#home1 a{
    color: black;
    font-weight: bold;
    font-size: 12px
}
#home2{
    margin-bottom: 50px;
}


.btn2{
    background-color: white;
    color: #370A6D;
    width: 150px;
    border-radius: 20px;
    font-size: 12px;
    border: none;
    font-weight: bold;
    padding: 5px;
}
/*Proyectos*/
.subtitulo{
    padding: 10px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(-90deg,#e20000 ,rgb(134, 6, 6));
}
.proyec{
    border-radius: 25px;
    background-color: white;  
}
#main-proy{
    height: 100vh;
    border: transparent;
    margin: 25px;
}
#main-proy p{
    height: 80px;
}
#proyectos{
    background-image: url(../images/Artboard\ 1\ copia\ 3\ copy\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
    
}
.bt-ver{
    background-color: #e20000;
    color: white;
    border-radius: 50px;
    border: none;
    font-weight: normal;
    width: 100px;
    font-size: 12px;
    padding: 8px;
}
.bt-codigo{
    text-decoration: none;
    color: #e20000;
    font-weight: bold;
    font-size: 12px;
    padding-top: 4px;
    border: none;
    background-color: white;
  

}
/*sobre_mi*/
#sobre-mi-start{
    background-image: url(../images/Artboard\ 1\ copia\ 3\ copy\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
#sobre-mi-start img{
    border-radius: 200px;
}
.git-link{
    color: #e20000;
    font-size: 25px;
}
#tecnologias .img-tec{
    border-radius: 25px;
    color: gray;
    text-align: center;
    background-color: white;
    height: 200px;
    width: 150px;
}
#tecnologias{
    background-color: #e20000;
}
#tecnologias .card{
    border-radius: 20px;
    text-align: center;
    width: 150px;
    font-weight: bold;

}
#tecnologias h2{
    color: white;
}
#idiomas{
    background-color: rgb(230, 230, 230);
    margin: 0px;
    padding: 40px;
}
.icon{
    background-color: rgb(93, 25, 156);
    color: white;
    font-size: 40px;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 30px;
}
.card-idm{
    border-radius: 20px;
}
.bt-empresa{
    color: white;
    background-color: rgb(93, 25, 156);
    border: none;
    border-radius: 50px;
    padding: 5px;
}
.experiencia .bt{
    text-align: right;
}
.experiencia img{
    border-radius: 100px;
    border: gray 1px solid;
}
.experiencia p{
    color: black;
}
.fecha{
    color: gray !important;
}
.experiencia h4{
    color: blue;
} 
.experiencia h3{ 
    color: gray;
}
.experiencia h2{ 
    color: rgb(93, 25, 156);
}
.experiencia .card{
    border-radius: 20px;
}
.estudios{
    background-color: rgb(230, 230, 230);
}
.estudios img{
    border-radius: 200px;
}
.estudios h2{
    color: #e20000;
}
.estudios h3{
    color: gray;
}
.estudios h4{
    color: #e20000;
}
.estudios .bt{
    text-align: right;
}
.bt-edu{
    color: white;
    background-color: #e20000;
    border: none;
    border-radius: 50px;
    padding: 5px;
}
.estudios .card{
    border-radius: 20px;
}

/*index*/
#index main{
    height: 85vh;
}
#index{
    background-image: url(../images/Artboard\ 1\ copia\ 3\ copy\ 8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
}
/*heder nav*/
.nav-link{
    font-weight: bold;
    color: black;
}
.nav-link:hover{
    border: 1px #e20000 solid;
    border-radius: 20px;
    
}
.btn-cv{
    background-color: #e20000;
    color: white;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    width: 200px;
    font-size: 15px;  
}
.btn-cv:hover{
    border: solid 1px black;
    background-color: inherit;
    color: #e20000;
}
.btn-cv i{
    font-size: 10px;
}
/*contacto*/
#contacto main{

    height: 75vh;

}
#contacto{
    background-image: url(../images/fondo-contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
}
h1{
    color: #e20000;
}
p{
    color: #6A6A6A;
    font-size: 12px;
}
#formulario{
    text-align: right;
   
}
#formulario input{
    width: 500px;
    height: 25px;
    border-radius: 7px;
    border: none;
}
#formulario textarea{
    width: 500px;
    border-radius: 12px;
    border: none;
}
.contacto-p{
    padding: 20px 20px 20px 0px;
    font-size: 12px;
}
.btn1{
    font-size: 12px;
    font-weight: bold;
    color:#370A6D;
    background-color:white;
    border: none;
    border-radius: 18px;
    width: 100px;
    height: 25px;
}
#bt-footer-cont i{
    font-size: 20px;
    padding: 10px;
    color:#e20000;
    background-color: white;
    border: none;
    border-radius: 50px;
}
.footer-1 div{
    color: white;
    
}

.footer-1 a{
    color: white;
}

#bt-wp{

    font-size: 24px;
    color: white !important;
    background-color: blueviolet;
    border-radius: 10px 10px 0px 0px;
    width: 50px;
    height: 55px;
    position: fixed; right: 100px; bottom: 0px;
}
.footer-2 div{
    color: #e20000;
    
}
.footer-2 a{
    color:#e20000;
}
.footer-2 #bt-wp{

    font-size: 24px;
    color: white !important;
    background-color: blueviolet;
    border-radius: 10px 10px 0px 0px;
    width: 50px;
    height: 55px;
}


